// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul#nav li{
           margin-right:10px;
           float : left;
           margin-top :10px;
           text-decoration:none;

    div.movie-block-index{ 
                           text-align:center;
                         }
                        a{
                         text-decoration:none;
                         float:left;
                         }
}
ul#nav{
    list-style:none;
    float:left;
 }