// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



ul#nav li{
           margin-right:20px;
           float : left;
           text-decoration:none;
           height: 240px;
           font-size: 11px;
           
    div.movie-block-index{ 
                           text-align:center;
                           height:205px;
}
                        a#a-block{
                             text-decoration:none;
                             float:left;
                             height :200px;

                            img{
                                    border-color: #E8E8E8;
                                    border-style: solid;
                                    border-width: 1px;
                                }
                             img:hover{ 
                                        height:210;
                                        width:135;
                                }
                          }

                        a.image-hover-over:hover {
                            background-color:inherit;
                                        img{
                                            border: 1px solid black;
                                            }
                        }
}
ul#nav{
    list-style:none;
    float:left;
 }

a.image-hover-over{
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
    z-index: 0;
}

div#movie-show{

            -moz-border-radius: 12px;
            -webkit-border-radius: 12px;
            -o-border-radius: 12px;
            -khtml-border-radius: 12px;
            border-radius: 12px;
            border: 1px solid #E8E8E8;
            margin-bottom: 7px;
            padding: 10px 12px;
            background-color: white;
            width: 70%;
            height:400px;

    div#image_primary{
        img{            border-color: #E8E8E8;
                        border-style: solid;
                        border-width: 1px;
        }
    }

    div.page-header-movie{
        margin: 4px 0 12px;
             small{
                    font-size: 12px;
                  }
    }

    #movie-details{
                    div.star-box{
                        border-color: #E8E8E8;
                        border-style: solid;
                        border-width: 1px 0;
                        color: #666;
                        font-size: 11px;
                        margin-right: -12px;
                        padding: 10px 12px 11px 0;
                        width: 100%;
                        height:72px;

                            div.imdb-ratings{
                                    width: 80px;
                                    height: 80px;
                                    float:left;
                                    margin: 1px solid red;

                                    div.star-box-giga-star{
                                        width: 66px;
                                        height: 66px;
                                        line-height: 66px;
                                        display: inline-block;
                                        text-align: center;
                                        vertical-align: middle;
                                        font-size: 15px;
                                        font-weight: bold;
                                        color: black;
                                        font-family: tahoma;
                                        float: left;
                                        padding-right: 5px;
                                        background:url('rating-bg.png') top left no-repeat;
                                    }
                                }
                                // Add Manual Ratings here
                                div.my-ratings{
                                    float:left;
                                    height: 20px;
                                    width:250px;
                                    .rating-star{
                                                background: url('star-grey.jpg')0 0;
                                                width : 16px;
                                                margin-right: 5px;
                                                height: 16px;
                                                float: left;
                                                display: block;
                                                }
                                             .on{
                                                 background: url('star-yellow.jpg')0 0;
                                                }
                                             .on-temp{
                                                 background: url('star-yellow.jpg')0 0;
                                                }
                                     span.rating-helper{
                                                   padding-left:  10px;
                                                }
                                }
                        }
    }

    p{
        margin: 0.5em 0 0.75em;
    }
    div.text-block{
        height: 1.7em;
    }

}
div.title-overview{
    padding: 10px 12px 0 0;
    position: relative;
}
    h4.inline {
        font-size: 14px;
        display: inline;
        padding: 0 0.5em 0 0;
    }


div#clear-both{
    clear:both;
}


